@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 1024px;
  padding: 10px;
  margin: auto;
  min-height: 90vh;
  margin-top: 100px;

  /
}


/* post css  tailwind  */
/* post css  tailwind  */